.btn{
  padding: 12px 24px;
  border-radius: 12px;
  background-color: var(--color-brand);
  font: var(--label);
  color: var(--content-always-white);
  outline: none;
  &:hover{
    background-color: var(--color-brand-hover);
  }
}

.input-box{
  background-color: var(--bg-secondary);
  padding: 12px 18px;
  max-width: 100%;
  border: solid 2px var(--bd-primary);
  border-radius: 12px;
  border: 2px solid var(--bd-primary);
  font: var(--paragraph);
  color: var(--content-tertiary);
  
  &:hover{
    border: 2px solid var(--bd-hover);

  }
  &:focus{
    border: 2px solid var(--color-brand);
    color: var(--content-primary);
  }
  &::placeholder{
    color: var(--content-ternary)
  }
}
  
.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 27px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;

  &>input{
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked ~ .control_indicator:after {
      display: block;
    }
    &:disabled ~ .control_indicator {
      pointer-events: none;
      opacity: 0.6;
      pointer-events: none;
    }
  }
  &:hover input ~ .control_indicator,
  .control input:focus ~ .control_indicator {
    background: #ffffff;
  }

&:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
  background: #ca3894;
}

  &>input:checked ~ .control_indicator {
    background: #ca3894;
  }
}

.control_indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  width: 16px;
  background: #ffffff;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  &::after{
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
  }
}

.control-checkbox .control_indicator:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  &>input{
    &:disabled ~ .control_indicator:after {
      border-color: #7b7b7b;
    }
  }
}


#removed-alert{
  background-color: var(--color-danger);
  font: var(--paragraph);
  padding: 12px;
  color: var(--content-always-white);
  border-radius: 12px;
}

.btn-trash{
  background-image: url(../../assets/icons/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

li>.item-container{
  display: flex;
  align-items: center;
  padding: 8px 12px;
  margin-block: 6px;
  gap: 12px;
  &>label{
    flex-grow: 1;
    font: var(--paragraph);
  }
  &>.input-default-style{
    border-radius: 50%;
    width: 16px;
    height: 16px;
    accent-color: var(--color-brand);
  }
  
}