:root{
  /* Background */
  --bg-primary: #F4F5FB;
  --bg-secondary: #FFFFFF;
  
  /* Color */
  --color-brand: #CA3894;
  --color-brand-hover: #A52C6B;
  --color-danger: #C93847;

  /* Content */
  --content-primary: #080B12;
  --content-secondary: #374151;
  --content-tertiary: #9CA3AF;
  --content-always-white: #FFFFFF;

  /* Border */
  --bd-primary: #D1D5DB;
  --bd-hover: #B9C2D0;

  /* Typography */
  --inter: 'Inter', sans-serif;

  /* Typography Style */
  --title: 700 24px/32px var(--inter); /*Bold*/
  --label: 600 16px/20px var(--inter); /*Semibold*/
  --paragraph: 500 16px/140% var(--inter); /*Medium or Regular*/
  --link: 500 14px/16px var(--inter); /*Medium or Regular*/

}

.container{
  max-width: 1366px;
  margin-inline: auto;
}

.container-md{
  max-width: 627px;
  margin-inline: auto;
}

.container-sm{
  max-width: 400px;
  margin-inline: auto;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 0.25rem solid green;
  border-radius: 0.5rem;
  &::before{
    content: "";
    width: 1rem;
    height: 1rem;
    clip-path: rect(5px 145px 160px 5px round 20%);
    transform: scale(0);
    background-color: green;
  }
  &:checked::before{
    transform: scale(1);
  }
  &:hover{
    color: black;
  }
}
section{
  height: 100vh;
  margin: 5% auto;
  align-items: start;
  border: 1px solid red;
  padding-inline: 2rem
}

form{

  display: flex;
  flex-direction: column;
}

h1{
  margin-bottom: 44px;
  margin-top: 16px;
}

a{
  margin-top: 34px;
  margin-bottom: 1rem;
}

li{
  padding: 8px 12px;
}

label>span{
  font: var(--paragraph);
}