@media screen and ( min-width: 1366px)  {

  header{
    display: flex;
  }

  .container{
    max-width: 1366px;
  }
  section{
    max-width: 627px;
    & > form{
      flex-direction: row;
      flex-wrap: nowrap;
      & > button{
        width: 160px;
      }
    }
  }

}