.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.justify-arround{
  justify-content: space-around;
}

.items-center{
  align-items: center;
}

.grow{
  flex-grow: 1;
}

.gap-8{
  gap: .5rem;
}

.gap-16{
  gap: 1rem;
}

.fade-out {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-out.hide {
  opacity: 0;
}