.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.justify-evenly{
  justify-content: space-evenly;
}

.grow{
  flex-grow: 1;
}

.gap-8{
  gap: .5rem;
}

.gap-16{
  gap: 1rem;
}